#container{
    margin: auto;
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#display{
    border:solid 1px black;
    width: 391px;
    height: 100px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 60px;
}

#buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color:#5a5656;
    color: white;
    font-size: 30px;
    margin: 5px;
}

button:hover{
    background-color: rgb(119, 120, 121);
}

.operator, #backspaceBtn{
    color: rgb(66, 133, 244);
}

#cancelBtn{
    color: rgb(243, 112, 89);
}


#equalsToBtn{
    background-color: rgb(66, 133, 244);
    text-align: center;
    font-size: 40px;
    width: 180px;
}

#equalsToBtn:hover{
    background-color: rgb(120, 168, 245);;
}
